---

---

<div class="flex justify-center flex-wrap p-2">
    <div class="p-5 flex flex-wrap justify-center sm:w-8/12 w-full">
        <div class="sm:w-1/2 w-full">
            <img src="https://static.wixstatic.com/media/fb5636_8b1412ac176547298d75b6620dda0945~mv2.jpg/v1/fill/w_528,h_352,al_c,lg_1,q_80,enc_auto/fb5636_8b1412ac176547298d75b6620dda0945~mv2.jpg" alt="">
        </div>
        <div class="sm:w-1/2 w-full">
            <h2 class="p-2 font-bold text-3xl">Por que escogernos?</h2>
            <p class="p-2 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum laboriosam quisquam obcaecati mollitia facilis velit distinctio. Optio inventore asperiores rerum iste quis voluptates eligendi excepturi id consequuntur culpa reprehenderit incidunt animi dignissimos cupiditate pariatur debitis itaque explicabo dolores tempore fuga sit, dolore temporibus atque deleniti. Iure provident dolorum fugit repudiandae.</p>
        </div>
    </div>
</div>