---

---

<div class="flex justify-center flex-wrap p-2">
    <div class="p-5 flex flex-wrap justify-around sm:w-8/12 w-full">
        <div class="sm:w-1/4 w-full p-2">
            <img class="p-2 object-cover w-full h-full" src="/bienvenida.jpg" alt="">
        </div>
        <div class="sm:w-1/2 w-full">
            <h2 class="p-2 font-bold text-3xl ">¡Bienvenido a <span class="text-blue-600">Monsters</span> <span class="text-green-600">University</span>!</h2>
            <p class="p-2 text-justify">
                ¡Nos alegra verte en el campus! En Monsters University, no solo enseñamos a ser los mejores en asustar, ¡sino que también celebramos la creatividad, la amistad y el espíritu competitivo! Aquí, cada monstruo tiene la oportunidad de crecer, aprender y vivir experiencias aterradoras y emocionantes.

                Ya sea que estés listo para unirte a la Escuela de Asustadores, descubrir nuevas amistades o desafiar tus propios límites, en Monsters University siempre hay algo increíble esperándote.

                ¡Así que prepárate para una aventura universitaria única, llena de risas, sustos y mucha diversión! ¡Tu futuro como el mejor monstruo empieza ahora!
            </p>
        </div>
    </div>
</div>