---
import Navegacion from "./Navegacion.astro"
import RedesSociales from "./RedesSociales.astro"
---

<footer class="flex flex-wrap w-full bg-blue-950 justify-around gap-5">
    
    <div class="w-full md:w-1/4 bg-blue-600">
        <img class="w-1/2 block m-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Harvard_University_coat_of_arms.svg/800px-Harvard_University_coat_of_arms.svg.png" alt="">
    </div>

    <div class="w-full md:w-1/4 bg-purple-400">
        <h2 class="">Mapa de sitio Web</h2>
        <li class="list-none">
            <a href="">qlq</a>
        </li>
        <li class="list-none">
            <a href="">qlq</a>
        </li>
        <li class="list-none">
            <a href="">qlq</a>
        </li>
        <li class="list-none">
            <a href="">qlq</a>
        </li>
        <li class="list-none">
            <a href="">qlq</a>
        </li>
    </div>

    <div class="w-full md:w-1/4 p-2">
        <h2 class="text-center p-5">Siguenos:</h2>
        
        <RedesSociales/>

    </div>

</footer>