---
import Navegacion from "./Navegacion.astro"
import RedesSociales from "./RedesSociales.astro"
import Menu from "./Menu.astro"
---

<footer class="flex flex-wrap w-full bg-slate-300 justify-around gap-5">
    
    <div class="w-full md:w-1/4 flex justify-center">
        <img class="w-1/2 p-4" src="https://seeklogo.com/images/M/monsters-university-logo-EF7A4E72FB-seeklogo.com.png" alt="">
    </div>

    <div class="w-full md:w-1/4 bg-purple-400">
        <h2 class="">Mapa de sitio Web</h2>
        <Menu />
    </div>

    <div class="w-full md:w-1/4 p-2">
        <h2 class="text-center p-5">Siguenos:</h2>
        
        <RedesSociales/>

    </div>

</footer>