---

---

<div class=" flex justify-center">

    <div class="p-5 flex flex-wrap justify-center sm:w-8/12 w-full">
        <div class="sm:w-1/2 w-full">
            <div class="p-5">
                <h2 class="text-3xl">Nuestros Locales</h2>
            </div>
            <p class="text-justify p-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque, autem magni veniam earum beatae et ea quo, aspernatur alias sapiente tempora, eum eaque soluta porro quis labore tempore quaerat.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, unde aperiam. Voluptatem eius molestias minus soluta! Distinctio aut laborum, at corporis possimus cumque sapiente perferendis earum quidem adipisci sint laudantium!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, unde aperiam. Voluptatem eius molestias minus soluta! Distinctio aut laborum, at corporis possimus cumque sapiente perferendis earum quidem adipisci sint laudantium!
            </p>
        </div>
    
        <div class="p-2 flex justify-center sm:w-1/2 w-full">
            <div class="grid sm:grid-cols-2 p-4 gap-6 w-10/12">
                <img class="rounded-3xl sm:w-full row-span-2" src="https://i.pinimg.com/736x/d6/99/84/d6998409aeb9a26bebbc1a1b6b52c08f.jpg" alt="">
                <img class="rounded-3xl sm:w-full " src="https://wordpress.wbur.org/wp-content/uploads/2017/06/AP_17062200322743-1000x680.jpg" alt="">
                <img class="rounded-3xl sm:w-full " src="https://wordpress.wbur.org/wp-content/uploads/2017/06/AP_17062200322743-1000x680.jpg" alt="">
            </div>
        </div>
    </div>


</div>