---

---
<div class="p-2 md:flex justify-around w-1/2">
    
    <li class="list-none">
        <a class="text-2xl p-2 hover:border-b-2 text-green-500" href="">Inicio</a>
    </li>
    <li class="list-none">
        <a class="text-2xl p-2 hover:border-b-2 text-green-500" href="">Personajes</a>
    </li>
    <li class="list-none">
        <a class="text-2xl p-2 hover:border-b-2 text-green-500" href="">Contactos</a>
    </li>

</div>