---

---
<div class="bg-green-500 p-2 ">
    
    <li class="bg-red-500">
        <a href="">Inicio</a>
    </li>
    <li class="bg-red-500">
        <a href="">Personajes</a>
    </li>
    <li class="bg-red-500">
        <a href="">IDK</a>
    </li>

</div>