---
import '../styles/Global.css';
import Menu from './Menu.astro';
---

<nav class="bg-red-500 flex justify-around items-center p-2 ">

    <div class="bg-yellow-400 p-2">
        <span class="bg-black p-1 mb-4"></span>
        <span class="bg-black p-1 mb-4"></span>
        <span class="bg-black p-1 mb-4"></span>
    </div>

    <div class="logo w-1/4 flex justify-center">
        <img src="" alt="" class="w-1/2">
    </div>

    <Menu/>

    <div class="portal w-1/3">
        <img class="w-1/3" src="" alt="">
    </div>

</nav>
