---

---

<div class="flex justify-center">

    <div>
        <h1>Programas de estudios</h1>
    </div>

    <div class="grid grid-cols-3 grid-rows-4 bg-blue-600 w-1/2 gap-3">
        <img class="row-span-2 bg-contain bg-yellow-300 p-2  w-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrbBRHgAALUDSICSUKsFdggQhV3K3QjVlGTNfQqjLWQ1ZwzW7Gpv4f0vH5tT2DdWaxJVQ&usqp=CAU" alt="">
        <img class="col-span-1 w-full bg-yellow-300 p-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrbBRHgAALUDSICSUKsFdggQhV3K3QjVlGTNfQqjLWQ1ZwzW7Gpv4f0vH5tT2DdWaxJVQ&usqp=CAU" alt="">
        <img class="col-span-1 w-full bg-yellow-300 p-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrbBRHgAALUDSICSUKsFdggQhV3K3QjVlGTNfQqjLWQ1ZwzW7Gpv4f0vH5tT2DdWaxJVQ&usqp=CAU" alt="">
        <img class="col-span-1 w-full bg-yellow-300 p-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrbBRHgAALUDSICSUKsFdggQhV3K3QjVlGTNfQqjLWQ1ZwzW7Gpv4f0vH5tT2DdWaxJVQ&usqp=CAU" alt="">
        <img class="col-span-1 w-full bg-yellow-300 p-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrbBRHgAALUDSICSUKsFdggQhV3K3QjVlGTNfQqjLWQ1ZwzW7Gpv4f0vH5tT2DdWaxJVQ&usqp=CAU" alt="">
        <img class="col-span-1 w-full bg-yellow-300 p-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrbBRHgAALUDSICSUKsFdggQhV3K3QjVlGTNfQqjLWQ1ZwzW7Gpv4f0vH5tT2DdWaxJVQ&usqp=CAU" alt="">
    </div>

</div>