---

---

<!-- <li> -->
<div class="p-4 grid grid-cols-1 gap-4 text-white">
    
    <div class="bg-green-600 text-center p-2">
        <a href="" class="">
            Facebook
        </a>
    </div>

    <div class=" grid grid-cols-2 gap-2">
        <div class="bg-green-600 text-center p-2">
            <a href="">
                Tik Tok
            </a>
        </div>
    
        <div class="bg-green-600 text-center p-2">
            <a href="">
                Instagram
            </a>
        </div>
    </div>

    <div class="bg-green-600 text-center p-2">
        <a href="">
            whatsapp
        </a>
    </div>

</div>    



<!-- </li> -->